name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 2 * * 0'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - args: '"+iarrayJVM/test"'
          - args: '"+iarrayJS/test"'
          - args: '"+iarrayNative/test"'
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        java-version: 8
        distribution: temurin
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt -v scalafmtSbtCheck "+scalafmtCheckAll" ${{ matrix.args }}
